monai==1.5.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
pytorch_lightning==2.5.1
nibabel==5.3.2
numpy==1.26.4
thop
timm==0.9.7
SimpleITK
scipy
scikit-image
scikit-learn
ants
matplotlib
mpmath
tqdm
einops
wandb
python-dotenv
codecarbon
fvcore
connected_components_3d



